{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/5.3.3/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/1.11.3/font/bootstrap-icons.css' %}" />
		<style>
			body {
				padding-top: 0;
			}
			header {
				position: sticky;
				top: 0;
				width: 100%;
				z-index: 1000;
			}
		</style>
		<title>DOE #{{ doe.id }} structure</title>
	</head>
	<body>
		{% load custom_filters %}
		<div class="table-responsive col">
			<div class="d-flex d-flex-row justify-content-evenly my-2">
				<h5>{{ doe.id }}:{{ doe.exp_date }} {{ doe.color }}_{{ doe.runsheet_lot }}_{{ doe.gls_id }}</h5>
				<button type="button" class="btn-close" aria-label="Close" onclick="deleteTable(event)"></button>
			</div>
			<table id="structure_{{ doe.id }}" class="table table-sm table-hover" data-structure-id="{{ doe.id }}">
				<thead class="table-light">
					<tr class="structure-tr">
						{% for header in doe.structure_data.headers %}<th scope="col">{{ header }}</th>{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% if doe.structure_data.rows %}
					{% for row in doe.structure_data.rows %}
						{% if 'eml' in row|get_item:'Layer'|stringformat:"s"|lower %}
						<tr class='table-warning' data-layer="{{ row.Layer.0 }}">
						{% else %}
						<tr data-layer="{{ row.Layer.0 }}">
						{% endif %}
						{% for key, value in row.items %}
							<td class="structure-td" data-column="{{ key }}">
								{% for v in value %}
									{% if 'Material' in key %}
									<a href="{% url 'dvmt:meas_list' %}?q={{ v|split_and_first }}" data-value="{{ v|split_and_first }}">{{ v }}</a>
									<br>
									{% else %}
									<span data-value="{{ v }}">{{ v }}</span>
									<br>
									{% endif %}
								{% endfor %}
							</td>
						{% endfor %}
						</tr>		
					{% endfor %}
					{% else %}
					<tr>
						<td class="structure-td" colspan="{{ doe.structure_data.headers|length }}">No data available</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
		<script>
			function deleteTable(event) {
				event.target.closest(".table-responsive").remove();
			}
		</script>
	</body>
</html>

